@import './common/vars';

#svg-layout {
    width: 100%;
    height: calc(100% - 42px);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.arrow {
    &__line {
        stroke: $primaryColor;
        stroke-width: 2;
        fill: none;

        &.highlighted {
            stroke: $secondaryColor;
        }
    }

    &__pointer {
        fill: #7A99B8;

        &.highlighted {
            fill: $secondaryColor;
        }
    }
}